<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Search Results</h1>
    <ul>
      <% for (let item of items){%>
      <li><a href="/item/<%= item._id %>?searchWord=<%= searchWord %>"><%=item.title%></a></li>
      <%}%>
    </ul>
<a href="/search" class="button">Back to Search</a>
  </body>
</html>
