<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Search Auction Items</h1>
      <form action="/search/results" method="GET" class="search-form-inline">
        <input
          type="text"
          name="searchWord"
          id="searchWord"
          placeholder="Search"
        />
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
