body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  margin: 10vw;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form-inline {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.search-form-inline label {
  font-size: 1.2em;
  margin-right: 10px;
}

.search-form-inline input {
  padding: 10px;
  font-size: 1em;
  width: 62.5%; /* 50% + 25% increase */
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form-inline button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form-inline button:hover {
  background-color: #555;
}

ul {
  list-style: none;
  padding: 0;
}

.results-list, .item-details {
  width: 30%;
  list-style: none;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.results-list li, .item-details li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.results-list li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.results-list li a:hover {
  color: #007bff;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #555;
}
